module.exports = require("{{{ROLI_CLIENT_PACKAGE_IMPORT}}}");
const {createUuid, Data, Endpoint, Session, Event} = require("{{{ROLI_CLIENT_PACKAGE_IMPORT}}}");
const {TypeRegistryBuilder, internalCreateClient, __Endpoint_InternalClient_Key, __Session_InternalClient_Key} = require("{{{ROLI_CLIENT_PACKAGE_IMPORT}}}/internal");