{
  "name": "{{{PACKAGE_NAME}}}",
  "main": "./cjs/index.js",
  "module": "./esm/index.js",
  "types": "./esm/index.d.ts",
  "version": "{{{VERSION}}}",
  "exports": {
    ".": {
      "import": "./esm/index.js",
      "require": "./cjs/index.js"
    },
    "./react": {
      "import": "./deps/{{{REACT_PACKAGE_NAME}}}/esm/index.js",
      "require": "./deps/{{{REACT_PACKAGE_NAME}}}/cjs/index.js"
    }
  },
  "dependencies": {
    "{{{CLIENT_PACKAGE_NAME}}}": "file:./deps/{{{CLIENT_PACKAGE_NAME}}}",
    "{{{REACT_PACKAGE_NAME}}}": "file:./deps/{{{REACT_PACKAGE_NAME}}}"
  },
  "devDependencies": {},
  "scripts": {}
}